@page "/addtomealplan"

<PageTitle>Add to Meal Plan Page</PageTitle>

@using recipeApp.Data

<h1>Add to Meal Plan</h1>

<form>
<select>
<option>sum food</option>
<option>sum food</option>
<option>sum food</option>
<option>sum food</option>
</select>
<select>
<option>Monday</option>
<option>Tuesday</option>
<option>Wedneday</option>
<option>Thursday</option>
<option>Friday</option>
<option>Saturday</option>
<option>Sunday</option>
</select>

<input type="submit" value="Add"/>
</form>

@code {
  
}
