@page "/"

<PageTitle>ReciPlan</PageTitle>

<h1>ReciPlan</h1>


Welcome to ReciPlan.

<form>
<label for="search">What Do you have in your pantry?</label><br>
<input type="text" name="search"/><br>
<input type="submit" value="Search"/>
</form>

