@page "/mealplan"

<PageTitle>Meal Plan Page</PageTitle>

@using RecipeApp.Data

<h1>Meal Plan Page</h1>

<a href="/addtomealplan">Add to Meal Plan</a>
<br>

<table>
    <thead>
        <tr>
            <th>Monday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Banh mi</td>
            <td>Noodles</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Tuesday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Chopped Leaf</td>
            <td>McDonalds</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Wedneday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pad See Ew</td>
            <td>Shrimp Salad Roll</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Thursday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Donair</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Friday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Butter Chicken and Naan Bread</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>BBQ Pork on Rice with Kimchi</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Sunday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>BBQ Pork on Rice with Kimchi</td>

        </tr>
    </tbody>
</table>

@code {

}
