@page "/results/:ingredient"

<PageTitle>Result Page</PageTitle>

@using RecipeApp.Data

<h1>Results Page</h1>

<p>Here are some randome recipes with your ingredient</p>



@code {
    RecipeList[]? recipeList;

      protected async Task load()
    {
        
        recipeList = await httpClient.GetFromJsonAsync<RecipeList[]>($"{GlobalVariable.BaseUrl}findByIngredients?apiKey=2d565ece4cab48459669cb81a708e639&ingredients=chicken");

    }
}
