@page "/results/:ingredient"
@using RecipeApp.Components
@using RecipeApp.Data

<PageTitle>Result Page</PageTitle>

<h1>Results Page</h1>

<p>Here are some randome recipes with your ingredients</p>

<div class="d-flex justify-content-around">
  <RecipeCard></RecipeCard>
  <RecipeCard></RecipeCard>
  <RecipeCard></RecipeCard>
</div>


@code {
  RecipeList[]? recipeList;

  protected async Task load()
  {

    recipeList = await
    httpClient.GetFromJsonAsync<RecipeList[]>($"{GlobalVariable.BaseUrl}findByIngredients?apiKey=2d565ece4cab48459669cb81a708e639&ingredients=chicken");

  }
}
